* {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid seashell;
}

header img {
  50px;
  padding-left: 10px;
  align-items: left;
}

.logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav span {
  display: inline-block;
  text-align: right;
  padding: 20px 10px;
}
