* {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid seashell;
  z-index: 1;
}

.flex-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header img {
  justify-content: flex-start;
  height: 50px;
  padding-left: 10px;
}

nav {
  display: inline-block;
  justify-content: space-between;
  margin: auto 20px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mission {
  display: flex;
  align-items: center;
  background-image: url("../images/img-mission-background.jpg");
  background-size: cover;
  height: 700px;
  width: 1200px;
}

#mission .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

#featured .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

#featured .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1000px;
}

.tea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 5px;
}

.tea img {
  height: 200px;
}
