* {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

header {
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 50px;
  padding: auto 10px;
}

nav span {
  display: inline-block;
  margin-bottom: 10px;
}
